* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bai Jamjuree', sans-serif;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.bg-header {
  background: url("/img/bg-header-desktop.png") no-repeat;
  width: 100%;
  height: auto;
  background-size: cover;
}

.title-header {
  color: #4c545d;
  font-size: 2.875rem;
  padding-top: 56px;
  padding-bottom: 1rem;
}

.p-header {
  font-size: 1.25rem;
  color: #9fabb2;
  line-height: 1.5;
}

.cont-btn {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 48px;
  margin-bottom: 150px;
}

.btn {
  padding: 13px 36px;
  font-size: 1.125rem;
  color: white;
  border: none;
  font-weight: 600;
  outline: none;
  border-radius: 28px;
  transition: .3s all;
  cursor: pointer;
}

.btn-mac {
  background: #6173ff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

.btn-mac:hover {
  opacity: 0.8;
}

.btn-os {
  background: #26baa4;
  box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.5), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

.btn-os:hover {
  opacity: 0.8;
}

.header-info {
  text-align: center;
  max-width: 730px;
  margin: 0 auto;
  padding-top: 125px;
}

.header-info img {
  margin: 0 auto;
}

.title-main {
  font-size: 2.25rem;
  color: #4c545d;
}

.p-main {
  font-size: 1.125rem;
  color: #9fabb2;
  line-height: 1.5;
}

.main-cont {
  max-width: 730px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}

.area-computer {
  display: flex;
  max-width: 1440px;
  margin-inline: auto;
  align-items: center;
  position: relative;
  gap: 110px;
  left: -80px;
}

.info-computer {
  max-width: 350px;
}

.title-computer {
  font-size: 1.5rem;
  color: #4c545d;
  font-weight: 600;
}

.p-computer {
  font-size: 1rem;
  line-height: 1.5;
  color: #9fabb2;
}

.info-computer {
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.cont-computer {
  margin-bottom: 150px;
}

.img-device {
  padding: 20px 0;
}

.img-device img {
  margin: 0 auto;
}

.cont-vantagem {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.vantagem-div {
  text-align: center;
  max-width: 350px;
}

.vantagem-div h2 {
  font-size: 1.5rem;
  color: #4c545d;
  font-weight: 600;
  margin-bottom: 1rem;
}

.vantagem-div p {
  font-size: 1rem;
  line-height: 1.5;
  color: #9fabb2;
}

.vantagem-div img {
  margin-inline: auto;
  margin-bottom: 46px;
}

.parceria {
  margin: 150px 0;
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin-inline: auto;
  justify-content: space-between;
}

.bg-footer {
  background: #9fabb2;
}

.footer-cont {
  display: flex;
  max-width: 1100px;
  margin-inline: auto;
  padding: 40px 0;
  align-items: center;
  gap: 165px;
}

.cont-links {
  max-width: 875px;
  display: flex;
  align-items: center;
  gap: 135px;
}

.cont-links ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}

.cont-links a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #4c545d;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 24px;
}

.social-links a {
  color: #4c545d;
}
